<h2 class="color-primary">Despacho</h2>
<form [formGroup]="dispatchForm">
  <div class="center">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile *ngFor="let office of offices; let i = index">
          <mat-checkbox 
                        class="example-margin separated-left"
                        [value]="office.name"
                        id="inlineCheckbox{{i}}"
                        (change)="onCbChange($event, offices[i].id)">
            {{office.name}}
          </mat-checkbox>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="inline-flex">
      <div class="separated-left">
        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let interference of categories" [value]="interference.id" 
                        (onSelectionChange)="getSubCategoriesByCategoryId($event, interference.id)">
                {{interference.description}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
      </div>
      
      <div class="separated-left">
        <mat-form-field appearance="fill" >
          <mat-label>Subcategoría</mat-label>
          <mat-select formControlName="subCategoryId">
            <mat-option *ngFor="let sc of subcategories" [value]="sc.id">
              {{sc.description}}
            </mat-option>
          </mat-select>      
        </mat-form-field>
      </div>
    </div>
    
  </div>
</form>

  <app-step-buttons (continueEmit)="continue($event)" (backEmit)="back($event)"></app-step-buttons>

<mat-divider></mat-divider>
