<h2 class="color-primary">Fecha y hora</h2>
<form [formGroup]="datetime" class="example-form">
    <mat-form-field class="example-full-width separated-left">
        <mat-label>Fecha</mat-label>
        <input formControlName="date" matInput type="date">
    </mat-form-field>

    <mat-form-field class="example-full-width separated-left">
        <mat-label>Hora</mat-label>
        <input formControlName="time" matInput type="time">
    </mat-form-field>
</form>

<div class="button-container separated" fxLayout="row">
    <button mat-raised-button color="primary" class="separated-right" (click)="continue($event)">
        Continuar
    </button>
</div>
<mat-divider></mat-divider>