<div class="separated separated-bottom-min">
    <button mat-button color="accent" class="separated-right" (click)="clickBack($event)">
        Volver
    </button>
    <button mat-raised-button color="primary" class="separated-right" (click)="clickContinue($event)">
        Continuar
    </button>
</div>