<h2 class="color-primary">Geolocalización</h2>
<div class="center">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Buscar locación</mat-label>
            <input id="search" matInput placeholder="" type="search" [(ngModel)]="search"
                [ngModelOptions]="{standalone: true}" (keyup)="setAddress()">
        </mat-form-field>
    </form>
    <iframe [src]="currentUrl" width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<app-step-buttons (continueEmit)="continue($event)" (backEmit)="back($event)"></app-step-buttons>

<mat-divider></mat-divider>