.col-center-4 {
    grid-column: 5/9;
}
.col-8{
    grid-column: 1/9;
}
.col-right-3{
    grid-column: 10/13; 
    line-height: 9em;
    align-self: center;
    text-align: center;
}
.content {
    grid-auto-rows: minmax(50px, auto);
    width: 845px;
}
