<div class="content">
    <div class="col-center-4">
        <h2 mat-dialog-title>Desea {{action}} este evento?</h2>
    </div>
</div>
<div class="content">
    <div class="col-8">
        <app-event-progressive-view></app-event-progressive-view>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="col-right-3">
        <button mat-button color="accent" (click)="cancel()" [mat-dialog-close]="true">Eliminar</button>
        <button mat-stroked-button color="primary" (click)="continue()" [mat-dialog-close]="true">Seguir editando</button>
        <button mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="true">Guardar</button>
    </div>
</div>