<div class="container content" layout-align="center-center">
    <div class="col-3 section separated separated-left" id="progressive-event">
        <mat-card class="min-padding">
            <app-event-progressive-view></app-event-progressive-view>
        </mat-card>
    </div>

    <div class="steper col-center-6 separated separated-left">
        <mat-card class="section scrolleable">
            <div id="datetime">
                <app-datetime (slipEmit)="slip($event)"></app-datetime>
            </div>
            <div id="description">
                <app-description (slipEmit)="slip($event)"></app-description>
            </div>
            <div id="typification">
                <app-typification (slipEmit)="slip($event)"></app-typification>
            </div>
            <div id="geolocation">
                <app-geolocation (slipEmit)="slip($event)"></app-geolocation>
            </div>
            <div id="informer">
                <app-informer (slipEmit)="slip($event)"></app-informer>
            </div>
            <div id="resolution">
                <app-resolution (slipEmit)="slip($event)"></app-resolution>
            </div>
            <div id="dispatch">
                <app-dispatch (slipEmit)="slip($event)"></app-dispatch>
            </div>
        </mat-card>
        <div class="separated separated-bottom-min right">
            <button mat-button color="accent" (click)="cancel()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="save()">Guardar</button>
        </div>
    </div>
    <div class="col-right-3 section separated-left similar-events" id="progressive-event">
        <app-similar-events [search]="filter"></app-similar-events>
        <div class="chron">
            <app-chronometer></app-chronometer>
        </div>
    </div>
</div>