.content {
    grid-auto-rows: minmax(100px, 60%);
}
.col-2 {
    grid-column: 1/3;
    grid-row: 3;
}
.col-3 {
    grid-column: 1/4;
}
.col-right-3 {
    grid-column: 10/13;
}
.similar-events {
    position: relative;
    top: 15%;
    margin-right: 5%;
}
.separated {
    position: relative;
    top: 2%;
    margin-top: 0;
}

.section {
    height: 730px;
}

.right {
    text-align: end;
    button {
        margin-right: 5%;
    }
}

::-webkit-scrollbar {
    display: none;
}

.complete-height {
    height: 80%;
}

.steper {
    scroll-behavior: smooth;
}

.min-padding {
    padding-right: 0;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.chron {
    text-align: center;
    padding-top: 5%;
}


@media only screen and (max-width: 1420px) {
    .section {
        height: 440px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .section {
        height: 525px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1720px) {
    .section {
        height: 620px;
    }
}
