<div class="container content" layout-align="center-center">
    <div class="row-3 col-center-4">
        <mat-card>
            <mat-card-header>
                <div>
                    <mat-card-title>
                        <span>Iniciar sesion</span>
                    </mat-card-title>
                </div>
            </mat-card-header>
            <mat-form-field appearance="fill">
                <mat-label for="">Enter your e-mail</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required [(ngModel)]='user.email' >
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label for="">Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='user.password' >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="wo-border">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
        </mat-card>
    </div>
</div>