<div class="mat-elevation-z8">
    <form [formGroup]="filter" class="example-form">
        <mat-form-field class="filter">
            <mat-label>Filtro</mat-label>
            <input formControlName="search" matInput placeholder="" (keyup)="applyFilter()">
        </mat-form-field>
    </form>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Operator Column -->
        <ng-container matColumnDef="operator">
            <th mat-header-cell *matHeaderCellDef> Operador </th>
            <td mat-cell *matCellDef="let event"> {{event.operator}} </td>
        </ng-container>

        <!-- Datetime Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha y hora </th>
            <td mat-cell *matCellDef="let event"> {{event.date}} - {{event.time}} </td>
        </ng-container>

        <!-- Typification Column -->
        <ng-container matColumnDef="typification">
            <th mat-header-cell *matHeaderCellDef> Tipificacion </th>
            <td mat-cell *matCellDef="let event" class="synthesize"> {{event.typification}} <br>
                {{event.subcategoryTft}} </td>
        </ng-container>

        <!--Description  Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let event" class="synthesize"> {{event.description}} </td>
        </ng-container>

        <!--Geolocation Column -->
        <ng-container matColumnDef="geolocation">
            <th mat-header-cell *matHeaderCellDef> Geolocalizacion </th>
            <td mat-cell *matCellDef="let event"> {{event.geolocation}} </td>
        </ng-container>

        <!--Informer Column -->
        <ng-container matColumnDef="informer">
            <th mat-header-cell *matHeaderCellDef> Denunciante </th>
            <td mat-cell *matCellDef="let event"> {{event.informer}} </td>
        </ng-container>

        <!--Dispatch Column -->
        <ng-container matColumnDef="dispatch">
            <th mat-header-cell *matHeaderCellDef> Despacho </th>
            <td mat-cell *matCellDef="let event">
                <p *ngFor='let o of event.offices'>{{o}}</p>
            </td>
        </ng-container>

        <!--Priority Column -->
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Prioridad </th>
            <td mat-cell *matCellDef="let event"> {{event.priority}} </td>
        </ng-container>

        <!--Resolution Column -->
        <ng-container matColumnDef="resolution">
            <th mat-header-cell *matHeaderCellDef> Resolucion </th>
            <td mat-cell *matCellDef="let event"> {{event.resolution}}% </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>