<h2 class="color-primary">Descripción</h2>
<form [formGroup]="description" class="example-form">
    <mat-form-field>
        <mat-label>¿Qué sucedió?</mat-label>
        <textarea formControlName="detail" matInput placeholder=""></textarea>
    </mat-form-field>
</form>

<app-step-buttons (continueEmit)="continue($event)" (backEmit)="back($event)"></app-step-buttons>
<mat-divider></mat-divider>