.padding-5 {
    padding: 5%;
}

::-webkit-scrollbar {
    display: none;
}

.scrolleable {
    height: 90%;
}

.right {
    position: inherit;
    margin-left: 75%;
}

.min-btn {
    height: 20px;
    line-height: normal;
}
