<mat-card class="scrolleable">
    <mat-card-title class="color-primary">{{title}}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
            <div class="padding-5 mat-elevation-z8" *ngFor="let event of events">
                <div>
                        {{event.typification}}
                </div>
                <p>{{event.date}}</p>
                <p>{{event.geolocation}}</p>
                <p>{{event.description}}</p>
                <div class="right">
                    <button *ngIf="!event.associate" mat-raised-button color="primary" class="min-btn" (click)="manageAssociate(event.id)">Asociar</button>
                    <button *ngIf="event.associate" mat-button color="accent" class="min-btn" (click)="manageAssociate(event.id)">Desasociar</button>
                </div>
            </div>
    </mat-card-content>
</mat-card>