<div class="footer-container" fxLayout="row" fxLayoutAlign="space-between">
	<div class="logo-container-left" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
		
		<a href="http://urbibot.com/" target="_blank"
		   class="logo-container-urbibot" fxLayout="column" fxLayoutAlign="center center">
			<img src="./../../../../../assets/img/logo-urbibot.png">
		</a>
	</div>
</div>
