.footer-container {
	background-color: #69F0AE;
    position: fixed;
	bottom: 0px;
	height: 10vh;
    width: 100%;
	padding: 0 50px;
}

.logo-container-urbibot {
	img {
		height: 7vh;
	}
}

.logo-container-left {
	img {
		height: 10vh;
	}
    margin-left: auto;
    margin-right: auto;
}
