<div class="container content">
    <nav>
        <button mat-button color="primary" [routerLink]="['new']">
            Nuevo evento
        </button>
        <button mat-button color="primary" [routerLink]="['list']">
            Historial de eventos
        </button>
        <mat-divider></mat-divider>
    </nav>

    <div class="col-right-2">
        <img src="./../../../../../assets/img/logosn.png" alt="">
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>