.content {
    grid-auto-rows: minmax(50px, auto);
}
nav {
    grid-column: 1/6;
    width: 190%;
}

a {
    text-decoration: none;
}
.col-right-2 {
    grid-column: 11/13;
}
.col-right-4 {
    grid-column: 9/13;
}
img {
    position: fixed;
    width: 20%;
    right: 0;
}
