<div class="fix">
    <span class="color-primary">Fecha y hora: </span><br>
    <p>{{event$.date}} {{event$.time}}</p><br>
    <span class="color-primary">Descripcion: </span><br>
    <p>{{event$.description}} </p><br>
    <span class="color-primary">Tipificacion: </span><br>
    <p>{{typification$.description}} </p><br>
    <span class="color-primary">Factor de riesgo: </span><br>
    <p>{{subcategoryTft$.description}} </p><br>
    <span class="color-primary">Geolocalizacion: </span><br>
    <p>{{event$.geolocation}} </p><br>
    <span class="color-primary">Denunciante: </span><br>
    <p>{{informer$.name}} {{informer$.lastname}}</p><br>
    <span class="color-primary">Prioridad: </span><br>
    <p>{{event$.priority}} </p><br>
    <span class="color-primary">Nivel de resolucion: </span><br>
    <p>{{event$.resolution}} </p><br>
    <span class="color-primary">Desea recibir reportes: </span><br>
    <p>{{report$}} </p><br>
    <span class="color-primary">Oficinas que intervienen: </span><br>
    <p *ngFor="let office of offices$">{{office.name}} - </p><br>
    <span class="color-primary">Interferencia: </span><br>
    <p>{{interference$.description}} </p><br>
    <span class="color-primary">Subcategoria de interferencia: </span><br>
    <p>{{subcategoryItfc$.description}} </p>
</div>