.col-right-2 {
    grid-column: 11/13;
}
.fix {
    height: 740px;
    line-height: 2.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
p {
    display: inline;
}

@media only screen and (max-width: 1280px) {
    .fix {
        height: 455px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    .fix {
        height: 535px;
        font-size: medium;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1720px) {
    .fix {
        height: 630px;
        font-size: small;
    }
}

@media only screen and (min-width: 1600px) {
    .fix {
        font-size: medium;
        line-height: 1.9em;
    }
}
