<h2 class="color-primary">Tipificación</h2>
<form [formGroup]="typificationForm">
	<div class="center inline-flex">
		<div class="separated-left">
			<mat-form-field appearance="fill">
				<mat-label>Categoría</mat-label>
				<mat-select formControlName="categoryId">
					<mat-option *ngFor="let rf of categories" [value]="rf.id"
								(onSelectionChange)="getSubCategoriesByCategoryId($event, rf.id)">
						{{rf.description}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="separated-left">
			<mat-form-field appearance="fill">
				<mat-label>Subcategoría</mat-label>
				<mat-select formControlName="subCategoryId">
					<mat-option *ngFor="let sc of subcategories" [value]="sc.id">
						{{sc.description}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</form>
<app-step-buttons (continueEmit)="continue($event)" (backEmit)="back($event)"></app-step-buttons>
<mat-divider></mat-divider>