<h2 class="color-primary">Resolución</h2>
<div class="center">
    <form [formGroup]="resolutionForm">
        <div>
            <mat-form-field appearance="fill">  
                <mat-label>Prioridad</mat-label> 
                <mat-select formControlName="priority">    
                    <mat-option  [value]="priority" *ngFor="let priority of levels">    
                        {{priority}}    
                    </mat-option>    
                </mat-select>    
            </mat-form-field>     
            <div>
                <mat-slide-toggle formControlName="report">Recibir informacion de avances del caso</mat-slide-toggle>
            </div>
        </div>
        <div>
            <mat-label>Nivel de resolucion</mat-label><br>
            <mat-slider
                formControlName="levelResolution"
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="100"
                step="25"
                min="0"
                max="100"
                aria-label="units">
            </mat-slider>
        </div>    
    </form>
</div>
<app-step-buttons (continueEmit)="continue($event)" (backEmit)="back($event)"></app-step-buttons>
<mat-divider></mat-divider>
