
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import '~@angular/material/theming';

@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dark-primary: mat-palette($mat-green, A200);
$dark-accent: mat-palette($mat-pink, A200);
$dark-warn: mat-palette($mat-red, A400);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);
// The warn palette is optional (defaults to red).
//$smaci-peru-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($smaci-peru-front-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030;}


.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.row-3 {
  grid-row: 3;
}
.col-center-4 {
  grid-column: 5/9;
}
.scrolleable {
  overflow: scroll;
}

.row-2 {
  grid-row: 2;
}

.col-center-6{
  grid-column: 4/10; 
}

.separated {
  margin-top: 15%;
}

.separated-left {
  margin-left: 5%;
}

.separated-bottom-min {
  margin-bottom: 5%;
}


.center {
  text-align: center;
}
.inline-flex {
  display: inline-flex;
}

.color-primary{
  color: #69F0AE;
  
}

form {
    text-align: center;
    
}

.mat-form-field {
  
}