<div class="layout-container">

	<mat-sidenav-container class="layout-sidenav-container">
		<mat-sidenav #sidenav [(opened)]="opened">
			<div class="custom-container">

				menu

			</div>
		</mat-sidenav>

		<mat-sidenav-content>
			<div class="panel">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>

</div>
